[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/tlib_vim"]
	path = vim/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/.vim/bundle/vim-addon-mw-utils"]
	path = vim/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/.vim/bundle/snipmate-snippets"]
	path = vim/.vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "vim/.vim/bundle/vim-snipmate"]
	path = vim/.vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
