#define MYFONT            xft:Terminus:style=Regular:pixelsize=16
#define MYBFONT           xft:Terminus:style=Bold:pixelsize=16

!!--------------------------
!! Xresources
!!--------------------------

!! its possible that some of these settings should be prefixed by urxvt
!! and not left wildcarded to match all X apps that happen upon them
!! but im using urxvt with different class names in a couple instances
!! and I wanted to ensure that they took the same settings

!!--------------------------------------------------------
!! Fonts
!!--------------------------------------------------------
!! these are recorded here for reference. couldnt get big/small to work
!!urxvt*modifier: super
!!urxvt*bigfont_key: greater
!!urxvt*smallfont_key: less

*font:                  xft:Terminus:style=Medium:pixelsize=20
*mfont:                 xft:Terminus:style=Medium:pixelsize=20
*boldFont:              xft:Terminus:style=Bold:pixelsize=20
*italicFont:            xft:Terminus:style=Medium:pixelsize=20
*boldItalicFont:        xft:Terminus:style=Bold:pixelsize=20
*keysym.C-0:command:    \033]710;xft:Terminus:style=Medium:pixelsize=20\007\
                        \033]711;xft:Terminus:style=Medium:pixelsize=20\007
*keysym.C-minus:command:\033]710;xft:Terminus:style=Medium:pixelsize=16\007\
                        \033]711;xft:Terminus:style=Medium:pixelsize=16\007
*keysym.C-equal:command:\033]710;xft:Terminus:style=Bold:pixelsize=28\007\
                        \033]711;xft:Terminus:style=Bold:pixelsize=28\007

! 20 and 18 are very similar but 20 has greater line spacing
*font: -*-terminus-medium-r-normal--18-*-*-*-*-*-*-*
*mfont: -*-terminus-medium-r-normal--18-*-*-*-*-*-*-*
*boldFont: -*-terminus-bold-r-normal--18-*-*-*-*-*-*-*
*italicFont: -*-terminus-medium-r-normal--18-*-*-*-*-*-*-*
*boldItalicFont: -*-terminus-bold-r-normal--18-*-*-*-*-*-*-*
*keysym.C-0:command:    \033]710;-*-terminus-medium-r-normal--18-*-*-*-*-*-*-*\007\
                        \033]711;-*-terminus-bold-r-normal--18-*-*-*-*-*-*-*\007
*keysym.C-minus:command:\033]710;-*-terminus-medium-r-normal--14-*-*-*-*-*-*-*\007\
                        \033]711;-*-terminus-bold-r-normal--14-*-*-*-*-*-*-*\007
*keysym.C-equal:command:\033]710;-*-terminus-bold-r-normal--28-*-*-*-*-*-*-*\007\
                        \033]711;-*-terminus-bold-r-normal--28-*-*-*-*-*-*-*\007

!! following used in the font size select menu with the big/small
!! shortcuts (see above) but I couldnt get it working correctly, so
!! skipped for now. I actually prefer the 0/-/+ three tier font size
!! so chose not to pursue this route, but keep it here for reference
!!*mfont:-*-terminus-medium-*-*-*-20-*-*-*-*-*-*-*
!!*font1:-*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
!!*font2:-*-terminus-medium-*-*-*-16-*-*-*-*-*-*-*
!!*font3:-*-terminus-medium-*-*-*-20-*-*-*-*-*-*-*
!!*font4:-*-terminus-medium-*-*-*-28-*-*-*-*-*-*-*


!!--------------------------------------------------------
!! Colors
!!--------------------------------------------------------

!!SOLARIZED HEX     16/8 TERMCOL  XTERM/HEX   L*A*B      RGB         HSB
!!--------- ------- ---- -------  ----------- ---------- ----------- -----------
!!base03    #002a32  8/4 brblack  234 #1c1c1c 15 -12 -09   0  42  50 190 100  20
!!base02    #17353d  0/4 black    235 #262626 20 -10 -09  23  53  61 193  62  24
!!base01    #586e75 10/7 brgreen  240 #585858 45 -07 -07  88 110 117 194  25  46
!!base00    #617c82 11/7 bryellow 241 #626262 50 -09 -07  97 124 130 191  25  51
!!base0     #839496 12/6 brblue   244 #808080 60 -06 -03 131 148 150 186  13  59
!!base1     #93a1a1 14/4 brcyan   245 #8a8a8a 65 -05 -02 147 161 161 180   9  63
!!base2     #eee8d5  7/7 white    254 #e4e4e4 92 -00  10 238 232 213  44  11  93
!!base3     #fdf6e3 15/7 brwhite  230 #ffffd7 97  00  10 253 246 227  44  10  99
!!yellow    #b58900  3/3 yellow   136 #af8700 60  10  65 181 137   0  45 100  71
!!orange    #c45221  9/3 brred    166 #d75f00 50  45  50 196  82  33  18  83  77
!!red       #cd1e1a  1/1 red      124 #af0000 45  65  50 205  30  26   1  87  80
!!magenta   #d33682  5/5 magenta  125 #af005f 50  65 -05 211  54 130 331  74  83
!!violet    #6c71c4 13/5 brmagenta 61 #5f5faf 50  15 -45 108 113 196 237  45  77
!!blue      #268bd2  4/4 blue      33 #0087ff 55 -10 -45  38 139 210 205  82  82
!!cyan      #2aa198  6/6 cyan      37 #00afaf 60 -35 -05  42 161 152 175  74  63
!!green     #859900  2/2 green     64 #5f8700 60 -20  65 133 153   0  68 100  60

!!#define S_base03        #002b36
!!#define S_base02        #073642
!!#define S_base01        #586e75
!!#define S_base00        #657b83
!!#define S_base0         #839496
!!#define S_base1         #93a1a1
!!#define S_base2         #eee8d5
!!#define S_base3         #fdf6e3
!!#define S_yellow        #b58900
!!#define S_orange        #cb4b16
!!#define S_red           #dc322f
!!#define S_magenta       #d33682
!!#define S_violet        #6c71c4
!!#define S_blue          #268bd2
!!#define S_cyan          #2aa198
!!#define S_green         #719e07

!!background S_base03
*background:            #002b36
!!foreground S_base0
*foreground:            #839496

!!*fading:                20
!!*fadeColor:             S_base03

!! S_base1
*cursorColor:           #93a1a1

!! S_base01
*pointerColorBackground: #586e75

!! S_base1
*pointerColorForeground: #586e75

!! black dark/light S_base02 / S_base03
*color0:                #073642
*color8:                #002b36

!! red dark/light S_red / S_orange
*color1:                #dc322f
*color9:                #cb4b16

!! green dark/light S_green S_base01 
*color2:                #719e07
*color10:               #586e75

!! yellow dark/light S_yellow S_base00
*color3:                #b58900
*color11:               #657b83

!! blue dark/light S_blue S_base0
*color4:                #268bd2
*color12:               #839496

!! magenta dark/light S_magenta S_violet
*color5:                #d33682
*color13:               #6c71c4

!! cyan dark/light S_cyan S_base1
*color6:                #2aa198
*color14:               #93a1a1

!! white dark/light S_base2 S_base3
*color7:                #eee8d5
*color15:               #fdf6e3


!!--------------------------------------------------------
!! basic urxvt settings
!!--------------------------------------------------------

*termName:              rxvt-unicode-256color
*saveLines:             8192

!!urxvt.perl-ext-common:		default,tabbed
urxvt.perl-ext-common:       default,matcher

!!urxvt.perl-ext-common:  default,tabbed
*urgentOnBell:          true
!!*urlLauncher:           chromium
!!urxvt.urlLauncher:      uzbl-browser
urxvt.urlLauncher:      chromium

urxvt.matcher.button:   1

*scrollBar:             true
*scrollBar_right:       true
*scrollBar_floating:    true
*scrollstyle:           plain
!! S_green:
*scrollColor:           #719e07


!! transparent is for faux transparency, so i turn it off here
!! and we use true alpha values instead, below
!!
!! set bit depth to 32 for true alpha transparency
!!
!! background can be specified as rgba or as a hex value with alpha value prefix
!! I prefer the latter as its more familiar
!! for examples: urxvt*background: rgba:1300/1300/1300/cccc
!! or: urxvt*background: [70]#1c1c1c	
!!
!! fading dims the window by a percentage and color
!! (e.g. 40% black in this case)

urxvt*cursorUnderline:  true

!!urxvt*transparent:      false

!! depth 32 should be specified on the command line for scratchpad terms
urxvt*depth:            32
urxvt*background:       [95]#002b36


XScreenSaver.mode:			random
XScreenSaver.timeout:		0:10:00
XScreenSaver.cycle:			0:10:00
XScreenSaver.lockTimeout:		0:00:00
XScreenSaver.passwdTimeout:		0:00:30
XScreenSaver.dpmsEnabled:		False
XScreenSaver.dpmsQuickoffEnabled:	False
XScreenSaver.dpmsStandby:		2:00:00
XScreenSaver.dpmsSuspend:		2:00:00
XScreenSaver.dpmsOff:		4:00:00
XScreenSaver.grabDesktopImages:	True
XScreenSaver.grabVideoFrames:	False
XScreenSaver.chooseRandomImages:	False
! This can be a local directory name, or the URL of an RSS or Atom feed.
XScreenSaver.imageDirectory:	
XScreenSaver.nice:			10
XScreenSaver.memoryLimit:		0
XScreenSaver.lock:			False
XScreenSaver.verbose:		False
XScreenSaver.timestamp:		True
XScreenSaver.fade:			True
XScreenSaver.unfade:		False
XScreenSaver.fadeSeconds:		0:00:03
XScreenSaver.fadeTicks:		20
XScreenSaver.splash:		True
XScreenSaver.splashDuration:	0:00:05
XScreenSaver.visualID:		default
XScreenSaver.captureStderr: 	True
XScreenSaver.ignoreUninstalledPrograms: False

XScreenSaver.textMode:		file
XScreenSaver.textLiteral:		XScreenSaver
XScreenSaver.textFile:		
XScreenSaver.textProgram:		fortune
XScreenSaver.textURL:		http://twitter.com/statuses/public_timeline.atom
!*textURL:		http://www.livejournal.com/stats/latest-rss.bml

XScreenSaver.overlayTextForeground:	#FFFF00
XScreenSaver.overlayTextBackground:	#000000
XScreenSaver.overlayStderr:		True
XScreenSaver.font:			*-medium-r-*-140-*-m-*
XScreenSaver.sgiSaverExtension:	True
XScreenSaver.xidleExtension:	True
XScreenSaver.procInterrupts:	True
XScreenSaver.demoCommand: xscreensaver-demo
XScreenSaver.prefsCommand: xscreensaver-demo -prefs
XScreenSaver.loadURL: firefox '%s' || mozilla '%s' || netscape '%s'
XScreenSaver.manualCommand: xterm -sb -fg black -bg gray75 -T '%s manual' \
		    -e /bin/sh -c 'man "%s" ; read foo'


! The format used for printing the date and time in the password dialog box
! (see the strftime(3) manual page for details.)
XScreenSaver.dateFormat:		%d-%b-%y (%a); %I:%M %p
! To show the time only:
! *dateFormat:		%I:%M %p
! For 24 hour time:
! *dateFormat:		%H:%M


! This command is executed by the "New Login" button on the lock dialog.
! (That button does not appear on the dialog if this program does not exist.)
! For Gnome: probably "gdmflexiserver -ls".  KDE, probably "kdmctl reserve".
! Or maybe yet another wheel-reinvention, "lxdm -c USER_SWITCH".
!
XScreenSaver.newLoginCommand:	gdmflexiserver -ls


! Turning on "installColormap" on 8-bit systems interacts erratically with
! certain jurassic window managers.  If your screen turns some color other
! than black, the window manager is buggy, and you need to set this resource
! to false.  Or switch WMs.  Or join the 21st century and get a 24-bit
! graphics card.
!
XScreenSaver.installColormap:	True


XScreenSaver.programs:								      \
				maze -root				    \n\
  GL: 				superquadrics -root			    \n\
				attraction -root			    \n\
				blitspin -root				    \n\
				greynetic -root				    \n\
				helix -root				    \n\
				hopalong -root				    \n\
				imsmap -root				    \n\
-				noseguy -root				    \n\
-				pyro -root				    \n\
				qix -root				    \n\
-				rocks -root				    \n\
				rorschach -root				    \n\
				decayscreen -root			    \n\
				flame -root				    \n\
				halo -root				    \n\
				slidescreen -root			    \n\
				pedal -root				    \n\
				bouboule -root				    \n\
-				braid -root				    \n\
				coral -root				    \n\
				deco -root				    \n\
				drift -root				    \n\
-				fadeplot -root				    \n\
				galaxy -root				    \n\
				goop -root				    \n\
				grav -root				    \n\
				ifs -root				    \n\
  GL: 				jigsaw -root				    \n\
				julia -root				    \n\
-				kaleidescope -root			    \n\
  GL: 				moebius -root				    \n\
				moire -root				    \n\
  GL: 				morph3d -root				    \n\
				mountain -root				    \n\
				munch -root				    \n\
				penrose -root				    \n\
  GL: 				pipes -root				    \n\
				rd-bomb -root				    \n\
  GL: 				rubik -root				    \n\
-				sierpinski -root			    \n\
				slip -root				    \n\
  GL: 				sproingies -root			    \n\
				starfish -root				    \n\
				strange -root				    \n\
				swirl -root				    \n\
				triangle -root				    \n\
				xjack -root				    \n\
				xlyap -root				    \n\
  GL: 				atlantis -root				    \n\
				bsod -root				    \n\
  GL: 				bubble3d -root				    \n\
  GL: 				cage -root				    \n\
-				crystal -root				    \n\
				cynosure -root				    \n\
				discrete -root				    \n\
				distort -root				    \n\
				epicycle -root				    \n\
				flow -root				    \n\
- GL: 				glplanet -root				    \n\
				interference -root			    \n\
				kumppa -root				    \n\
  GL: 				lament -root				    \n\
				moire2 -root				    \n\
  GL: 				sonar -root				    \n\
  GL: 				stairs -root				    \n\
				truchet -root				    \n\
-				vidwhacker -root			    \n\
				blaster -root				    \n\
				bumps -root				    \n\
				ccurve -root				    \n\
				compass -root				    \n\
				deluxe -root				    \n\
-				demon -root				    \n\
- GL: 				extrusion -root				    \n\
-				loop -root				    \n\
				penetrate -root				    \n\
				petri -root				    \n\
				phosphor -root				    \n\
  GL: 				pulsar -root				    \n\
				ripples -root				    \n\
				shadebobs -root				    \n\
  GL: 				sierpinski3d -root			    \n\
				spotlight -root				    \n\
				squiral -root				    \n\
				wander -root				    \n\
-				webcollage -root			    \n\
				xflame -root				    \n\
				xmatrix -root				    \n\
  GL: 				gflux -root				    \n\
-				nerverot -root				    \n\
				xrayswarm -root				    \n\
				xspirograph -root			    \n\
  GL: 				circuit -root				    \n\
  GL: 				dangerball -root			    \n\
- GL: 				dnalogo -root				    \n\
  GL: 				engine -root				    \n\
  GL: 				flipscreen3d -root			    \n\
  GL: 				gltext -root				    \n\
  GL: 				menger -root				    \n\
  GL: 				molecule -root				    \n\
				rotzoomer -root				    \n\
				speedmine -root				    \n\
  GL: 				starwars -root				    \n\
  GL: 				stonerview -root			    \n\
				vermiculate -root			    \n\
				whirlwindwarp -root			    \n\
				zoom -root				    \n\
				anemone -root				    \n\
				apollonian -root			    \n\
  GL: 				boxed -root				    \n\
  GL: 				cubenetic -root				    \n\
  GL: 				endgame -root				    \n\
				euler2d -root				    \n\
				fluidballs -root			    \n\
  GL: 				flurry -root				    \n\
- GL: 				glblur -root				    \n\
  GL: 				glsnake -root				    \n\
				halftone -root				    \n\
  GL: 				juggler3d -root				    \n\
  GL: 				lavalite -root				    \n\
-				polyominoes -root			    \n\
  GL: 				queens -root				    \n\
- GL: 				sballs -root				    \n\
  GL: 				spheremonics -root			    \n\
-				thornbird -root				    \n\
				twang -root				    \n\
- GL: 				antspotlight -root			    \n\
				apple2 -root				    \n\
  GL: 				atunnel -root				    \n\
				barcode -root				    \n\
  GL: 				blinkbox -root				    \n\
  GL: 				blocktube -root				    \n\
  GL: 				bouncingcow -root			    \n\
				cloudlife -root				    \n\
  GL: 				cubestorm -root				    \n\
				eruption -root				    \n\
  GL: 				flipflop -root				    \n\
  GL: 				flyingtoasters -root			    \n\
				fontglide -root				    \n\
  GL: 				gleidescope -root			    \n\
  GL: 				glknots -root				    \n\
  GL: 				glmatrix -root				    \n\
- GL: 				glslideshow -root			    \n\
  GL: 				hypertorus -root			    \n\
- GL: 				jigglypuff -root			    \n\
				metaballs -root				    \n\
  GL: 				mirrorblob -root			    \n\
				piecewise -root				    \n\
  GL: 				polytopes -root				    \n\
				pong -root				    \n\
				popsquares -root			    \n\
  GL: 				surfaces -root				    \n\
				xanalogtv -root				    \n\
-				abstractile -root			    \n\
				anemotaxis -root			    \n\
- GL: 				antinspect -root			    \n\
				fireworkx -root				    \n\
				fuzzyflakes -root			    \n\
				interaggregate -root			    \n\
				intermomentary -root			    \n\
				memscroller -root			    \n\
  GL: 				noof -root				    \n\
				pacman -root				    \n\
  GL: 				pinion -root				    \n\
  GL: 				polyhedra -root				    \n\
- GL: 				providence -root			    \n\
				substrate -root				    \n\
				wormhole -root				    \n\
- GL: 				antmaze -root				    \n\
  GL: 				boing -root				    \n\
				boxfit -root				    \n\
  GL: 				carousel -root				    \n\
				celtic -root				    \n\
  GL: 				crackberg -root				    \n\
  GL: 				cube21 -root				    \n\
				fiberlamp -root				    \n\
  GL: 				fliptext -root				    \n\
  GL: 				glhanoi -root				    \n\
  GL: 				tangram -root				    \n\
  GL: 				timetunnel -root			    \n\
  GL: 				glschool -root				    \n\
  GL: 				topblock -root				    \n\
  GL: 				cubicgrid -root				    \n\
				cwaves -root				    \n\
  GL: 				gears -root				    \n\
  GL: 				glcells -root				    \n\
  GL: 				lockward -root				    \n\
				m6502 -root				    \n\
  GL: 				moebiusgears -root			    \n\
  GL: 				voronoi -root				    \n\
  GL: 				hypnowheel -root			    \n\
  GL: 				klein -root				    \n\
-				lcdscrub -root				    \n\
  GL: 				photopile -root				    \n\
  GL: 				skytentacles -root			    \n\
  GL: 				rubikblocks -root			    \n\
  GL: 				companioncube -root			    \n\
  GL: 				hilbert -root				    \n\
  GL: 				tronbit -root				    \n\
				electricsheep --root 1				    \n


XScreenSaver.pointerPollTime:		0:00:05
XScreenSaver.pointerHysteresis:		10
XScreenSaver.initialDelay:		0:00:00
XScreenSaver.windowCreationTimeout:	0:00:30
XScreenSaver.bourneShell:		/bin/sh


! Resources for the password and splash-screen dialog boxes of
! the "xscreensaver" daemon.
!

XScreenSaver.Dialog.headingFont: -*-terminus-bold-r-normal--18-*-*-*-*-*-*-*
XScreenSaver.Dialog.bodyFont: -*-terminus-bold-r-normal--18-*-*-*-*-*-*-*
XScreenSaver.Dialog.labelFont: -*-terminus-medium-r-normal--18-*-*-*-*-*-*-*
XScreenSaver.Dialog.unameFont: -*-terminus-bold-r-normal--28-*-*-*-*-*-*-*
XScreenSaver.Dialog.buttonFont: -*-terminus-medium-r-normal--18-*-*-*-*-*-*-*
XScreenSaver.Dialog.dateFont: -*-terminus-medium-r-normal--12-*-*-*-*-*-*-*
XScreenSaver.passwd.passwdFont: -*-terminus-medium-r-normal--18-*-*-*-*-*-*-*
!!XScreenSaver.Dialog.headingFont:		*-helvetica-bold-r-*-*-*-180-*-*-*-iso8859-1
!!XScreenSaver.Dialog.bodyFont:		*-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
!!XScreenSaver.Dialog.labelFont:		*-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
!!XScreenSaver.Dialog.unameFont:		*-helvetica-bold-r-*-*-*-120-*-*-*-iso8859-1
!!XScreenSaver.Dialog.buttonFont:		*-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
!!XScreenSaver.Dialog.dateFont:		*-helvetica-medium-r-*-*-*-80-*-*-*-iso8859-1
! Helvetica asterisks look terrible.
!*passwd.passwdFont:		*-helvetica-medium-r-*-*-*-140-*-*-*-iso8859-1
!!XScreenSaver.passwd.passwdFont:		*-courier-medium-r-*-*-*-140-*-*-*-iso8859-1

!!#define S_base03        #002b36
!!#define S_base02        #073642
!!#define S_base01        #586e75
!!#define S_base00        #657b83
!!#define S_base0         #839496
!!#define S_base1         #93a1a1
!!#define S_base2         #eee8d5
!!#define S_base3         #fdf6e3
!!#define S_yellow        #b58900
!!#define S_orange        #cb4b16
!!#define S_red           #dc322f
!!#define S_magenta       #d33682
!!#define S_violet        #6c71c4
!!#define S_blue          #268bd2
!!#define S_cyan          #2aa198
!!#define S_green         #719e07
XScreenSaver.Dialog.foreground:		#073642
XScreenSaver.Dialog.background:		#657b83
XScreenSaver.Dialog.Button.foreground:	#93a1a1
XScreenSaver.Dialog.Button.background:	#586e75
!*Dialog.Button.pointBackground: #EAEAEA
!*Dialog.Button.clickBackground: #C3C3C3
XScreenSaver.Dialog.text.foreground:		#073642
XScreenSaver.Dialog.text.background:		#839496
XScreenSaver.passwd.thermometer.foreground:	#268bd2
!XScreenSaver.passwd.thermometer.background:	#839496
XScreenSaver.Dialog.topShadowColor:		#586e75
XScreenSaver.Dialog.bottomShadowColor:	        #586e75
XScreenSaver.Dialog.logo.width:		1
XScreenSaver.Dialog.logo.height:		1
XScreenSaver.Dialog.internalBorderWidth:	50
XScreenSaver.Dialog.borderWidth:		0
XScreenSaver.Dialog.shadowThickness: 1

XScreenSaver.passwd.heading.label:		
XScreenSaver.passwd.body.label:		
XScreenSaver.passwd.unlock.label:		OK
XScreenSaver.passwd.login.label:		New Login
XScreenSaver.passwd.user.label:		Username:
XScreenSaver.passwd.thermometer.width:	5
XScreenSaver.passwd.asterisks:              True
XScreenSaver.passwd.uname:                  True

XScreenSaver.splash.heading.label:		XScreenSaver %s
XScreenSaver.splash.body.label:		Copyright © 1991-2012 by
XScreenSaver.splash.body2.label:		Jamie Zawinski <jwz@jwz.org>
XScreenSaver.splash.demo.label:		Settings
XScreenSaver.splash.help.label:		Help
