[user]
	email = mmfmarin@gmail.com  
	name = Mario Marín
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[alias]
	ci = commit
	st = status
	d = difftool
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
